{% extends 'base.html.twig' %}

{% block title %}Matiere index{% endblock %}

{% block body %}
    <h1>Matiere index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Libelle</th>
                <th>Professeur</th>
                <th>Specialite</th>
                <th>nb hours</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for matiere in matieres %}
            <tr>
                <td>{{ matiere.libelle }}</td>
                <td>{{ matiere.intervenant.user.lastname }}</td>
                <td>{{ matiere.specialite }}</td>
                <td>{{ matiere.nbHours }}</td>
                <td>
                    <a href="{{ path('app_matiere_show', {'id': matiere.id}) }}">show</a>
                    <a href="{{ path('app_matiere_edit', {'id': matiere.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_matiere_new') }}">Create new</a>
{% endblock %}
