{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}

{% block body %}
    <h1>Calendrier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id_calendrier</th>
                <td>{{ calendrier.idCalendrier }}</td>
            </tr>
            <tr>
                <th>Date_debut</th>
                <td>{{ calendrier.dateDebut ? calendrier.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type</th>
                <td>{{ calendrier.type }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_calendrier_index') }}">back to list</a>

    <a href="{{ path('app_calendrier_edit', {'id_calendrier': calendrier.id_calendrier}) }}">edit</a>

    {{ include('calendrier/_delete_form.html.twig') }}
{% endblock %}
