{% extends 'base.html.twig' %}

{% block title %}Cours index{% endblock %}

{% block body %}
    <h1>Cours index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>DateHeureCour_debut</th>
                <th>DateHeureCour_fin</th>
                <th>actions</th>
            </tr>
        </thead>

        <tbody>
        {% for cour in cours %}
            <tr>
                <td>{{ cour.dateHeureCourDebut ? cour.dateHeureCourDebut|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ cour.dateHeureCourFin ? cour.dateHeureCourFin|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('app_cours_show', {'id_cours': cour.idCours}) }}">show</a>
                    <a href="{{ path('app_cours_edit', {'id_cours': cour.idCours}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_cours_new') }}">Create new</a>
{% endblock %}
